<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-md-3">
                    <div class="card border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-sm-3">
                                    <i class="fas fa-mail-bulk fa-3x text-primary"></i>
                                </div>
                                <div class="col col-sm-9 text-right">
                                    <div class="d-block h2 text-dark">230</div>
                                    <div class="d-block">Total Web Orders</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-sm-3">
                                    <i class="fas fa-mail-bulk fa-3x text-primary"></i>
                                </div>
                                <div class="col col-sm-9 text-right">
                                    <div class="d-block h2 text-dark">33</div>
                                    <div class="d-block">Processing Orders</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-sm-3">
                                    <i class="fas fa-mail-bulk fa-3x text-primary"></i>
                                </div>
                                <div class="col col-sm-9 text-right">
                                    <div class="d-block h2 text-dark">210</div>
                                    <div class="d-block">Processed Orders</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-primary">
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-sm-3">
                                    <i class="fas fa-mail-bulk fa-3x text-primary"></i>
                                </div>
                                <div class="col col-sm-9 text-right">
                                    <div class="d-block h2 text-dark">240</div>
                                    <div class="d-block">Completed Orders</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-success mt-2">
                <div class="card-body">
                    <app-list></app-list>
                </div>
            </div>
        </div>
        <div class="col-4">
            <app-detail></app-detail>
        </div>
    </div>
</div>